body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
h1 {
  background-color: black;
  color: aliceblue;
  text-align: center;
  
  margin: 0;
  width: 100vw; 
  box-sizing: border-box; 
}
.nav {
  background-color: rgb(76, 69, 69);
  padding: 5px;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  margin-bottom: 10px;
  width: 100%; 
  box-sizing: border-box; 
}

.main {
  
  background-color: #ffffff;
  box-shadow: 0 4px 8px;
  max-width: 90%; /* Responsive width */
  width: 700px; /* Fallback for larger screens */
  min-height: 300px; /* Flexible height */
  height: auto;
  margin: 0 auto; /* Center the container */
  padding: 20px;
}
h2 {
  margin-left: 10px;
}
.heading{
  padding-top: 20px;
  
}
.table {
  margin-top: 30px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  border-collapse: collapse;
  font-weight: 500;
}
.table th, 
.table td{
  padding: 10px;
  text-align: left;
  font-weight: 300;
}

input,
textarea,
button,
select {
  width: 100%;
  max-width: 650px;
  margin: 10px 0;
  padding: 10px;
  
}
label {
  margin-left: 10px;
  padding: 2px;
}
button {
  
  
    margin: 20px auto; 
    display: block; 
    padding: 10px 20px; 
    background-color: rgb(87, 82, 82);
    color: aliceblue;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
  
  
}
@media(max-width:768px){
  
  .nav {
    flex-direction: column;
    align-items: center;
  }
  input, textarea,button, select{
    width: calc(100%-40px);
    margin: 10px auto;
  }
  .table{
    font-size: 14px;
  }
}
@media (max-width:480px) {
  .table td{
    font-size: 12px;
  }
  h1{
    font-size: 18px;
  }
}